@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: "Roboto Mono", sans-serif;
    /* @apply bg-skin-base text-skin-fg; */
    color: #fff;
  }

  :root {
    --color-background: #081c15;
    --color-header: #0d1921;
    --color-primary: #1b4332;
    --color-secondary: #1b4332;
  }
}
